<div class="row" style="margin-left: 4%;" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <div class="col-xs-6 col-sm-6 cards-wrapper col-md-3 col-lg-3" ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}"
    ng-click="pickCard(card)" ng-hide="showTable || isCzar()" id="answers" style="cursor: pointer;">
    <div class="cards text-center p-1" style="font-size: 11px;" ng-bind-html-unsafe="card.text">

    </div>
    <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
    <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
  </div>
  <!-- Card ends here -->
  <span ng-show="winnerPicked()"></span>
  <!-- Selected answers -->
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 cards-wrapper col-md-3 col-lg-3" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'waiting for czar to draw a card'"
    ng-repeat="answer in game.table">
    <div ng-repeat="card in answer.card" ng-style="pointerCursorStyle()" ng-click="pickWinning(answer)" ng-show="showTable || isCzar()">
      <div class="cards text-center p-1" style="font-size: 11px; background-color: {{winningColor($parent.$index)}}" ng-bind-html-unsafe="card.text">
      </div>
      <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
      <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
    </div>
  </div>
</div>

<div class="container col-sm-12" ng-show="game.state === 'awaiting players'">
  <div class="awaiting-players" style="background-color: white; width: 100%;">
    <h4 class="text-center">How to Play</h4>
    <ol>
      <li>Each player begins with, and will always have, 10 white answer cards.</li>
      <li>For each round, one player is randomly chosen as the Card Czar.</li>
      <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
      <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
      <li>Want to adorn your avatar with a glorious crown? Donate to charity after the game!</li>
    </ol>
  </div>
</div>

<div class="container col-sm-12" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <div id="czar-blank-inner" class="czar-awaiting-players">
    You are the Card Czar.
    <br>
    <span id="smaller-text">Players are choosing their answers. Prepare to select a winner.</span>
    <div id='charity-fact-container'>
      <div id='charity-fact-tagline'>Did you know?</div>

      <div id='charity-fact'>
        {{ makeAWishFact }}
      </div>

      <div id='charity-logo-container'>
        <img src='/img/make-a-wish-logo.png' />
      </div>

    </div>
  </div>
</div>

<div class="container col-sm-12" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
  <div class="czar-awaiting-players" style="padding: 10px;">
    <a href="/play" class="btn btn-game">Join a new game</a>
    <a href="/" class="btn btn-game">Return to arena</a>
  </div>
</div>