<div class="row" style="margin-left: 4%;">
  <div class="game-cards" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
    <div class="col-xs-6 col-sm-6 cards-wrapper col-md-3 col-lg-3"
        ng-click="pickCard(card)"
        id="answers"
        ng-hide="showTable || isCzar()"
        ng-style="{'cursor':'pointer'}"
        ng-repeat="card in game.players[game.playerIndex].hand"
        ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
      <div class="cards">
        <p ng-bind-html-unsage="card.text"></p>
        <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
        <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
      </div>
    </div>
    <span ng-repeat="answer in game.table">
        <div class="card smallest" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="background-color : {{ winningColor($parent.$index) }}">
            <span ng-bind-html-unsafe="card.text"></span>
            <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
            <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
        </div>
    </span>
  </div>
  <div class="container col-sm-12" ng-show="game.state === 'awaiting players'">
      <div class="awaiting-players" style="background-color: white; width: 100%;">
        <h4 class="text-center">How to Play</h4>
        <ol>
          <li>Each player begins with, and will always have, 10 white answer cards.</li>
          <li>For each round, one player is randomly chosen as the Card Czar.</li>
          <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
          <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
          <li>Want to adorn your avatar with a glorious crown? Donate to charity after the game!</li>
        </ol>
      </div>
    </div>
</div>