</script>

<div id="app-container" ng-controller="GameController" ng-init="takeTour()">
    <div id="input" style="margin: 40px;">
        <input type="text" style="height: 30px;" ng-model="username">
        <ul>
          <li ng-repeat="user in foundUsers">
            {{ user.name }}
            <button ng-click="inviteUser(user.id)" class="btn btn-danger">Invite user</button>
            <button class="btn btn-info">Add user as friend</button>
          </li>
        </ul>
      </div>
  <div id="menu-container">
    <div id="logo">
      <span id="first-word">Cards</span>
      <span id="second-word"> for</span>
      <span id="third-word">Humanity</span>
    </div>
    <div id = 'abandon-game-button' ng-click="abandonGame()">
        Abandon Game 
    </div>
    <div id="retake-tour" class="btn btn-primary" ng-click="retakeTour()">
      Retake Tour
    </div>
        <span id="tweet-container">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <div id="answers-container">
      <answers></answers>
    </div>
  </div>
<!-- Max Players Reached Notification modal start -->
<div class="modal fade" id="maxPlayersReached" tabindex="-1" role="dialog" aria-labelledby="maxPlayersReached">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center">
          HY !! ONLY 12 PEOPLE ARE ALLOWED PER GAME, AND THAT GAME ALREADY STARTED. WANNA START A NEW ONE ? 
        </h5>
        <br>
        <br>
        <div class="text-center">
          <a href="/#!" class="btn btn-default">Start A new Game</a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<!-- Max Players Reached Notification modal End -->

<!-- Invite new players Notification modal start -->
<div class="modal fade" id="inviteNewPlayers" tabindex="-1" role="dialog" aria-labelledby="maxPlayersReached">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="text-center">
          <p class="text-center margin-btm-30">
              You need atleast 3 players to be able to start the game.  
          </p>

          <p class="text-center margin-btm-30">
              Please be patient enough for other guests to join.
          </p>
          <button class="btn btn-danger" data-dismiss="modal">Keep waiting.</button>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Invite new players Notification modal End -->
</div>
