<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/chat.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <div class="chat-window collapse" id="chat-window">
        <div class="chat-head">
          <div>
            Seun
          </div>
          <div  id="minim_chat_window" class="fa fa-minus" data-target="#chat-window" data-toggle="collapse">
          </div>
          <div data-id="chat_window_1" class="fa fa-times" data-target="#chat-window" data-toggle="collapse">
          </div>
        </div>   
        <div class="chat-body" id="chat-body">
          <div class="chat-content">
            <div class="row">
              <div class="col-sm-9 col-md-9 bg-info chat-text">
                <img src="http://i.pravatar.cc/300" class="chat-img">
                <div class="chat-messages">fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmk,</div>
              </div>
              <div class="col-sm-9 col-md-9 bg-info chat-text">
                <img src="http://i.pravatar.cc/300" class="chat-img">
                <div class="chat-messages">fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmkmjeiocjoidwcdwjcwcjkcjdcjscjksjcjsdjsjkcjkjjcddcjcjcjcjcjsjcsdcsdcdnncnsjnaxcnjsnacxnsjkncknskncdnsncsndncdscjsdjncjdsjcjdjcnsdcnsdj,</div>
              </div>
              <div class="col-sm-9 col-md-9 bg-info chat-text">
                <img src="http://i.pravatar.cc/300" class="chat-img">
                <div class="chat-messages">fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmk,</div>
              </div>
              <div class="col-sm-9 col-md-9 bg-info chat-text">
                <img src="http://i.pravatar.cc/300" class="chat-img">
                <div class="chat-messages">fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmk,fghnjmk,</div>
              </div>
            </div>
          </div>
        </div>
        <input type="text" class="form-control chat-form" placeholder="Type Here">
      </div>
      <i class="fa fa-comment" aria-hidden="true" data-target="#chat-window" data-toggle="collapse"></i>
    </main>
  </body>
</html>