<div class="question-section" style="background-color: white; width: 100%; height: 100%;">
    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <h4 class="text-center">Finding players</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" ng-style="{ width: percentageOfPlayersFound() }" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="players row justify-content-center">
          <p id="player-count" class="h5 font-weight-bold mb-5">{{game.players.length}} / {{ game.playerMaxLimit }} </p>
      </div>
    </div>
    <div class="start-game-button" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride)">
        <button class="btn-info btn-game form-control">Start Game</button>
    </div>
    <div class="start-game-button">
        <button class="btn-info btn-game form-control">Invite Players</button>
    </div>
</div>