<div class="question-section" style="background-color: white; width: 100%; height: 100%;">

    <div id="game-in-progress" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'">
        <h4 class="text-center font-weight-bold mb-3" ng-bind-html-unsafe="game.curQuestion.text"></h4>
        <h5 class="text-center" id="notifications" style="color: #E35F53;" class="font-weight-bold" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">
            {{ game.notification }}
        </h5>
    </div>
    <div id="startGame" ng-show="game.state === 'awaiting players'">
        <h4 class="text-center">Finding players</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" ng-style="{ width: percentageOfPlayersFound() }"
                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="players row justify-content-center">
            <p id="player-count" class="h5 font-weight-bold mb-5">{{game.players.length}} / {{ game.playerMaxLimit }} </p>
        </div>
        <div class="start-game-button" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride)">
            <button class="btn-info btn-game form-control">Start Game</button>
        </div>
    </div>

    <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <h4 class="text-center font-weight-bold mb-3">What the!? The game ended because too many people left! </h4>
        <h5 class="text-center mb-2">Our sincere apologies.</h5>
    </div>
    <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <h4 class="text-center font-weight-bold mb-3">
            Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}} !
        </h4>
        <h5 class="text-center mb-2">
            We hope you
            feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde
            it all for youself.
        </h5>
    </div>
    <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <h4 class="text-center font-weight-bold mb-3">
            Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!
        </h4>
        <h5 class="text-center mb-2">
            That makes you a loser, unfortunately.
        </h5>
    </div>
</div>