<!doctype html>
<html lang="en">
<head>
<title>CFH</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div id="background-image">
  	<div id="main-bod" ng-controller="IndexController" class="container">
        <div class="pt-5">
          <form class="mx-auto app-login-form card-login" ng-submit="signUp()">
            <section class="text-center">
              <img class="img-fluid rounded-circle logo-img" src="img/image.png" alt="">
            </section>
            <div class="error-messages fa fa-exclamation-triangle text-center" ng-show="hasError('name')">
                {{ serverErrors.name }}
            </div>
            <div class="error-messages fa fa-exclamation-triangle text-center" ng-show="hasError('username')">
                {{ serverErrors.username }}
            </div>
            <div class="error-messages fa fa-exclamation-triangle text-center" ng-show="hasError('email')">
                {{ serverErrors.email }}
            </div>
            <div class="error-messages fa fa-exclamation-triangle text-center" ng-show="hasError('password')">
                {{ serverErrors.password }}
            </div>
            <div class="error-messages fa fa-exclamation-triangle text-center" ng-show="hasError('avatar')">
                {{ serverErrors.avatar }}
            </div>
            <section class="pt-3 input-group">
              <span class="input-group-addon">
                <i class="fa fa-user" aria-hidden="true"></i>	
              </span>
              <input class="form-control" type="text" placeholder="Name" ng-model=data.name required novalidate />
            </section>
            <section class="pt-2 input-group">
              <span class="input-group-addon">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
              <input class="form-control" type="text" placeholder="Username" ng-model=data.username required novalidate />
            </section>
            <section class="pt-2 input-group">
              <span class="input-group-addon">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>                  
              </span>
              <input class="form-control" type="email" placeholder="Email" ng-model=data.email required novalidate>
            </section>
            <section class="pt-2 pb-2 input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
              <input class="form-control" type="password" placeholder="Password" ng-model=data.password required novalidate >
            </section>
            <div>
            </div>
            <div class="pt-2">
              <button id="sign-up-btn-other" style="border-radius: 55px 55px 55px 55px;" class="btn btn-block text-capitalize">
                sign up
              </button>
            </div>
            <div>
              <div>
                <p class="pt-5 text-center">
                  Or Sign Up using
                </p>
              </div>
              <div>
                <div class="d-flex justify-content-center">
                  <div>
                    <button style="background: #3F5795" class="btn circular-button">
                      <span>
                        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div>
                    <button style="background-color: #49A0EC" class="btn circular-button">
                      <span>
                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div>
                    <button style="background-color: #D9503F" class="btn btn-default circular-button btn-lg">
                      <i class="fa fa-google fa-2x" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <div>
                  <p class="text-center">
                    Have an account? <a href="#!/signin">
                      Sign in
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
