
$base-color: #E35F53;
$base-color-compliment: lighten(#1B1B1B, 0%);

body {
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Open Sans;
}

.body-wrapper{
    overflow-x: hidden;
}

.bg-blue {
  background-color: $base-color!important;
}

button {
  color: white;
  background-color: $base-color;
  border-color: $base-color-compliment;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:20px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-one {
	border: 2px solid $base-color;
}
// a.animated-button.victoria-one:after {
// 	background: $base-color;
// 	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
// 	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
// 	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
// 	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
// }
a.animated-button.victoria-two {
	border: 2px solid $base-color;
}
// a.animated-button.victoria-two:after {
// 	background: $base-color;
// 	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
// 	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
// 	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
// 	transform: translateX(-50%) translateY(-50%) rotate(25deg);
// }

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $base-color;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $base-color;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.headers {
  font-family: Montserrat;
  margin-bottom: 40px;
  padding-top: 5vh;
  color: $base-color;
}

.hero-title {
    font-family: Bree Serif;
    font-size: 4rem;
}

.member-content-wrapper{
    display: flex;
    justify-content: center;
}

.hero-text {
    padding: 2rem;
}

.navbar {
  min-height: 80px;
  width: 100%;
  transition: 0.5s ease;
}

.scrolled.navbar {
  min-height: 40px; 
  transition: 0.5s ease;
}

#background-image{
  background-image: url('../img/main.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
}

.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
  color: white;
	display: flex;
  justify-content: center;
  align-items: center;

}

#how-to-play_header{
  padding-top: 5vh;
}

.how-to-play {
  min-height: 50vh; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}


.charity-section {
    background-color: $base-color-compliment;
    @extend .how-to-play
}

.team-section {
    @extend .how-to-play
}

.info-section {
    background-color: $base-color-compliment;
    @extend .how-to-play
}

.info-text {
  color: #C5C7CA;
}

.card-container{
   flex-wrap: wrap;
   width: 100%
   
}

.content{
  padding: 10px;
  align-items: center;
}

.charity_content{
  margin-bottom: 50px;
  color: #C5C7CA;
}

.team_image{
  padding: 30px;
  width: 200px;
  border-radius: 100px;
}

.team_image{
    filter: gray;
    -webkit-filter: grayscale(5);
    -webkit-transition: all .8s ease-in-out;
  }
  
  .team_image:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
  }
  
.icon {
  display: inline-block;
  width: 4em;
  height: 4em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

footer {
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 1.5rem;
    @extend .bg-blue
}
