body{
  overflow-x: hidden;
}

#background-image{
  background-image: url('../img/cfhcard.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
}

.overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
  color: white;
	display: flex;
  justify-content: center;
  align-items: center;

}

.how-to-play{
  margin: 10vh 10vw 10vh 10vw;
  background: black;
  color: white;
}
#how-to-play_header{
  padding-top: 5vh;
}

.card-container{
   flex-wrap: wrap;
   width: 100%
   
}

.card{
  padding: 10px;
  margin: calc(20% / 3) 2vw calc(20% / 3) 4vw;
  background-color: white;
  color: black;
  /*align-items: center;*/
  justify-content: center;
  word-wrap: break-word;
  border-radius: 10px;
}

.charity_content{
  padding-top: 50px;
  margin-bottom: 50px;
}

.team_container{
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.team_image{
  padding: 30px;
  width: 200px;
  border-radius: 100px;
}

.team_names{
  width: 200px;
}

/* .image_overlay:hov {
	position: absolute;
	width: 200px;
	height: 200px;
	background: rgba(0, 0, 0, 0.3);
  color: white;
	display: flex;
  border-radius: 100px;
  top: 0;
  margin: 20px; 

} */