#background-image{
  background-image: url("../img/image.png");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}